<section class="flex flex-col items-center mt-28">
    <div class="flex items-center gap-x-4 mb-20">
        <img class="h-28 w-28" src="../../../../assets/logo-n.png" alt="logo-n">
        <h1 class="text-3xl font-thin">PLENA-Mente</h1>
    </div>
    <h2 class="text-2xl font-thin mb-10">Inicio de Sesion</h2>

    <div class="mb-8">
        <h3 class="ml-2">Usuario</h3>
        <div class="flex items-center border-2 border-black rounded-xl"><input class="outline-none text-xl w-80"
                type="username"><i placeholder="Usuario" class="ti ti-user text-4xl"></i>
        </div>
    </div>
    <div class="mb-20">
        <h3 class="ml-2">Contraseña</h3>
        <div class="flex items-center border-2 border-black rounded-xl"><input class="outline-none text-xl w-80"
                type="password"><i placeholder="Contraseña" class="ti ti-lock text-4xl"></i>
        </div>
    </div>
    <button class="bg-blue-800 text-white py-4 px-20 rounded-lg">INICIAR SESION</button>
</section>